body {
  font-family: "Noto Sans", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/327/original/lucas-ludwig-Omo-sEH6bCA-unsplash_%282%29.jpg?1676871278");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 350%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Lora", serif;
  color: rgba(42, 135, 84, 0.863);
  font-weight: 400;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
}

li.last-updated {
  font-style: italic;
  font-size: 12px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.overview {
  margin-bottom: 25px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgba(42, 135, 84, 0.863);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  color: rgba(42, 135, 84, 0.863);
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.feels-like {
  padding-top: 24px;
  opacity: 0.5;
  font-size: 10px;
  line-height: 0.9;
}

.feels-like .feels-like-temperature {
  font-size: 28px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(33, 33, 33);
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.current:hover {
  cursor: pointer;
  transition: inherit 1s;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.col-2:hover {
  cursor: pointer;
  transition: inherit 1s;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.footer a {
  color: rgb(33, 33, 33);
  opacity: 0.5;
}
