body {
  font-family: "Noto Sans", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/185/original/lucas-ludwig-Omo-sEH6bCA-unsplash_%281%29.jpg?1676786714");
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 26px;
  font-weight: 100;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 05px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

li.last-updated {
  font-style: italic;
  font-size: 12px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(33, 33, 33);
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
